.accordeon-pic {
    background-image: url(../img/faq-hero.png);
    width: 42%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 500px;
    border-radius: 0 0 132px 0px;
}

.accordeon-pic::before {
    content: "";
    display: block;
    width: 417px;
    height: 500px;
    border-radius: 130px 0px;
    background: linear-gradient(33deg, #9DCCF6 0%, rgba(157, 204, 246, 0) 100%);
    z-index: -1;
    position: absolute;
    margin-left: 20px;
}
.abico-accordeon_wrap {
    display: flex;
    gap: 20px;
    margin-top: 26px;
}
.abico-accordeon {
    width: 80%;
}