$bs-nav-pills-link-active-bg: #FF9900 !important;

$dark-blue: #2C4FA9;
$light-blue: #9DCCF7;
$orange: #FF9900;
$text: #000;
$btn-text: #fff;
$lightgray: rgba(245, 245, 245, 0.90);
$btn-hover-bg: linear-gradient(187deg, #9DCCF6 0%, #3151A3 100%);

$h1-font-size: 48px;
$h1-font-weight: 800;
$h2-font-size: 32px;
$h2-font-weight: 700;
$subheader-font-size: 18px;
$subheader-font-weight: 400;
$base-text-font-size: 20px;
$base-text-font-weight: 400;
$sticky-btn-font-size: 16px;
$header-line-height: 120%;

$shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.05), 2px 2px 3px 0px rgba(0, 0, 0, 0.04), 4px 5px 4px 0px rgba(0, 0, 0, 0.03), 6px 8px 4px 0px rgba(0, 0, 0, 0.01), 10px 13px 5px 0px rgba(0, 0, 0, 0.00);
$shadow-2: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 10px 10px 0px rgba(0, 0, 0, 0.09), 0px 22px 13px 0px rgba(0, 0, 0, 0.05), 0px 40px 16px 0px rgba(0, 0, 0, 0.01), 0px 62px 17px 0px rgba(0, 0, 0, 0.00);
$shadow-3: 0px 0px 0px 0px rgba(44, 79, 169, 0.10), 0px 2px 4px 0px rgba(44, 79, 169, 0.10), 1px 6px 7px 0px rgba(44, 79, 169, 0.09), 2px 15px 9px 0px rgba(44, 79, 169, 0.05), 3px 26px 10px 0px rgba(44, 79, 169, 0.01), 5px 41px 11px 0px rgba(44, 79, 169, 0.00);


$form-input-border: 0px solid #2C4FA9;

